<html>
  <head>
    <title>Horoscope signs</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<a class="brand" href="#">Friends and Horoscopes</a>
	<div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#me">{{ name }}</a></li>
            <li class="dropdown" id="friends-by-sign">
	      <a data-toggle="dropdown" class="dropdown-toggle" href="#friends-by-sign">Friends by sign <b class="caret"></b></a>
	      <ul class="dropdown-menu">
		{% for sign in signs_and_friends -%}
		<li>
		  <a href="#{{sign.name}}">
		    {{ sign.humanized }}
		  </a>
		</li>
		{%- endfor %}
	      </ul>
            </li>
          </ul>
	</div>
      </div>
    </div>
    <div class="container">
      {% for sign in signs_and_friends -%}
      <div class="row">
	<div class="span12">
    	  <div class="alert alert-info" id="{{ sign.name }}">
	    <h1>{{ sign.humanized }}</h1>
	    {% for friend in sign.friends -%}
	    <h3>{{ friend.name }}</h3>
	    <h4>({{ friend.user.birthday }})</h4>
    	    {%- endfor %}
	  </div>
	</div>
      </div>
      {%- endfor %}
    </div>
  </body>
</html>
