<html>
  <head>
    <title>Horoscope signs</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1277640-10']);
      _gaq.push(['_trackPageview']);

      (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="#">Friends and Horoscopes</a>
	  <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#me">{{ name }}</a></li>
              <li class="dropdown" id="friends-by-sign">
		<a data-toggle="dropdown" class="dropdown-toggle" href="#friends-by-sign">Friends by sign <b class="caret"></b></a>
		<ul class="dropdown-menu">
		  {% for sign in signs_and_friends -%}
		  <li>
		    <a href="#{{sign.name}}">
		      {{ sign.humanized }}
		    </a>
		  </li>
		  {%- endfor %}
		</ul>
              </li>
            </ul>
	  </div>
	</div>
      </div>
    </div>
    <div class="container">
      {% for sign in signs_and_friends -%}
      <div class="row">
	<div class="span12">
    	  <div class="alert alert-info" id="{{ sign.name }}">
	    <h1>{{ sign.humanized }}</h1>
	    {% for friend in sign.friends -%}
	    <h3>{{ friend.name }}</h3>
	    <h4>({{ friend.user.birthday }})</h4>
    	    {%- endfor %}
	  </div>
	</div>
      </div>
      {%- endfor %}
    </div>
  </body>
</html>
